@tailwind base;
@tailwind components;
@tailwind utilities;


.glow-button:hover, .file-upload-label:hover, form input:hover, form input:focus, #update-user-details-card {
    box-shadow: 0 0 15px #fff 
}



.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 230%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



.miniavatartooltip {
    position: relative;
    display: inline-block;
}

.miniavatartooltip .miniavatartooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    bottom: 35%;
    left: 230%;
    margin-left: -55px;
}

.miniavatartooltip .miniavatartooltiptext::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0%;
    margin-left: -9.5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.miniavatartooltip:hover .miniavatartooltiptext {
    visibility: visible;
}


.scrollbar::-webkit-scrollbar{
    width : 4px;
}

.scrollbar::-webkit-scrollbar-track{
    @apply bg-zinc-700; 
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}



@media screen and (min-width: 1025px){   
    #search-user-bar-container {
        left: 55%;
        top: 11%;
    }
}

.centered-search-bar-around {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}